<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provide test data</title>
</head>
<body>
 <h1>Please send test Credit Card details to redact on VGS:</h1>
    <form method="post" action="https://tntfjvtrllv.sandbox.verygoodproxy.com/add_cc_info">
        <div>
            <label for="cc_number">Card Number</label>
            <input type="text" name="cc_number">
        </div>
        <div>
            <label for="exp_date">Expiration Date</label>
            <input type="text" name="exp_date">
        </div>
        <div>
            <label for="cvv">CVV</label>
            <input type="text" name="cvv">
        </div>
        <div>
            <button type="submit">Redact data!</button>
        </div>
    </form>

</body>
</html>